<p id="notice"><%= notice %></p>

<h1 data-controller="hello">Tweeter</h1>

<%= render "double_turbos/link", turbo_time: @turbo_time %>

<%= turbo_stream_from "tweets" %>

<%= turbo_frame_tag "tweet_form" do %>
  <%= render "tweets/form", tweet: @tweet %>
<% end %>

<%= turbo_frame_tag "tweets" do %>
  <%= render @tweets %>
<% end %>

<%= turbo_frame_tag "double_turbo_part2" do %>
  <%= @turbo_time %>
<% end %>
