<p id="notice"><%= notice %></p>

<h1 data-controller="hello">Tweeter</h1>

<%= turbo_frame_tag "double_turbo_part1" do %>
  <%= link_to 'Double turbo: ', double_turbo_path, class: 'btn btn-primary btn-sm' -%>
  <%= @turbo_time %>
<% end %>

<%= turbo_stream_from "tweets" %>

<%= turbo_frame_tag "tweet_form" do %>
  <%= render "tweets/form", tweet: @tweet %>
<% end %>

<%= turbo_frame_tag "tweets" do %>
  <%= render @tweets %>
<% end %>
